/node_modules
/public/hot
/public/storage

/public/company
/public/drinks-n-snacks
/public/fod
/public/rejigged-routing
/public/snackboxes

/config/database.php

/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.psql_history
homestead.dump
office_pantry_sql.load

.psql_history
homestead.dump
office_pantry_sql.load


/package.xml
xdebug-2.6.1/
